.chat-main
  .main-header
    .main-header__left-box
      .main-header__left-box__current-group ジェダイ評議会
      %ul.main-header__left-box__member-list 
        Member :
        %li.main-header__left-box__member-list__member メイス
        %li.main-header__left-box__member-list__member ヨーダ
        %li.main-header__left-box__member-list__member ドゥークー
    .main-header__edit-btn
      = link_to('Edit', '#')
  .messages
    .message
      .message__upper-info
        .message__upper-info__talker
        ヨーダ
        .message__upper-info__date 
          1996/03/29(Fri) 10:00:05
      %p.message__text 今日もいい天気

    .message
      .message__upper-info
        .message__upper-info__talker
        メイス
        .message__upper-info__date 
          1996/03/29(Fri) 10:00:06
      .message__text チューバッカ飼いたい
          
    .message
      .message__upper-info
        .message__upper-info__talker
        ドゥークー
        .message__upper-info__date 
          1996/03/29(Fri) 12:00:07
      %p.message__text それな

  .form
    .new-message
      .input-box
        %input.input-box__text
        %label{class: "input-box__image"}
          %i.far.fa-image
          %input{type: "file"}
      .submit-btn
        =link_to "#",class: "send__btn" do
          Send