.chat-side
  .side-header
    .side-header__box
      %p.side-header__box__user-name tomohiro
      .side-header__box__menu
  .groups
    .group
      %p.group__group-name techcamp
      %p.group__latest-message まだメッセージがありません