$white: #ffffff;
$main-header-color: #eee;
$side-header-color: #253141;
$light-gray: #999999;
$group-list-color: #2f3e51;
$group-name-color: #333;
$messages-color: #fafafa;
$message-text-color: #434a54;
$form-color: #ddd;
$blue-button: #38aef0;